@model IEnumerable<Store.Models.Good>
@{
    ViewBag.Title = "Goods list";
}

<a class="btn btn-sm btn-primary" style="margin: 2% 0%;" asp-action="Create">Add new good</a>


<table class="table table-hover">
    <tr>
        <th>Name</th>
        <th>Specification</th>
        <th>Year of goods production</th>
        <th>The warranty period</th>
        <th>Producer</th>
        <th>Price</th>
        <th>Type</th>
        <th>Amount</th>
        <th></th>
    </tr>
    @foreach (var good in Model)
    {
        <tr>
            <th>@good.Name</th>
            <th>@good.Specification</th>
            <th>@good.YearOfManufacture</th>
            <th>@good.WarrantyTerm period</th>
            <th>@good.Producer</th>
            <th>@good.Price</th>
            <th>@good.Type</th>
            <th>@good.Count</th>
            <td>
                <form asp-action="Delete" asp-route-id="@good.Id" method="post">
                    <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@good.Id">Edit</a>
                    <button type="submit" class="btn btn-sm btn-danger">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
    }
</table>