@model Store.ViewModels.ConfirmOrderView
@{
    ViewBag.Title = "Choose endpoint";
}

<link rel="stylesheet" href="~/css/mainPage.css" />

<div style="margin-top: 5%;">
    <form asp-action="ConfirmOrder">
        <div class="form-group">
            <label asp-for="Storages">End point</label>
            <select class="form-control" name="producerSelect">
                @foreach (var storage in Model.Storages)
                {
                    <option selected>@string.Join(", ", storage.City, storage.Street)</option>
                }
            </select>
        </div>
        <h3>Common price : @Model.CommonPrice</h3>
        <div>
            <input type="submit" style="margin-left: 45%;width: 10%;" class="btn bg-success" value="Confirm">
        </div>
    </form>
</div>

<h3 class="text-center">Products in order</h3>
<div class=" cart-goods">
    @foreach (var good in Model.Goods)
    {
        <div class="row cart-item">
            <div class="col-lg-3 col-3 text-center">
                <a asp-area="" asp-controller="GoodPage" asp-action="ShowGood" asp-route-goodId="@good.Good.Id">
                    <div><img src="../images/goods/@good.Good.PhotoUrl" /></div>
                </a>
            </div>
            <div class="col-lg-3 col-3">
                <p>Name : <a asp-area="" asp-controller="GoodPage" asp-action="ShowGood" asp-route-goodId="@good.Good.Id">@good.Good.Name</a></p>
                <p>Price : @good.Good.Price</p>
                <p>Count : @good.Count</p>
            </div>
        </div>
        <hr class="black-hr" />
    }
</div>